/* global font-family */

* {
    font-family: sans-serif;
}


/* spacing */

header {
    height: 100px;
    margin: 50px;

}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 8px 30px 8px 5px #eeeeee;

}

caption {
    display: table-caption;
    caption-side: top;
    text-align: left;
    font-size: 36px;
    font-weight: 300;
    color: #c62828;
    margin: 2px;

}

thead th:nth-child(1) {
  width: 40%;

}

thead th:nth-child(2) {
  width: 30%;

}

thead th:nth-child(3) {
  width: 30%;

}

th:nth-child(1),
td:nth-child(1) {
     text-align: left;
}

th:nth-child(2),
th:nth-child(3),
td:nth-child(2),
td:nth-child(3) {
     text-align: right;
}

th, td {
  padding: 20px;

}

tr + tr {
    border-top: 1px solid lightgrey;

}

/* typography */

th {
  letter-spacing: 2px;

}

td {
  letter-spacing: 1px;

}

td:nth-child(1) {
    background: silver;

}

tbody td {
  text-align: center;

}

tfoot th {
  text-align: right;

}

thead {
  color: white;
  /* text-shadow: 1px 1px 1px grey; */
  background: #c62828;

}

/* specific styles */

/* thead th {
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.5));
  background: crimson;
} */
